/* 
Horizontal centering
*/

.block{
    background: blue;
    color:white;
    /* our goal is placing the actual block element in the center of the screen */
    width:300px;
    margin:0 auto;
    /* all elements are pushed all the way to run inside because my margin left is set to auto */
    /* margin-left: 0 auto; */
    /* margin-right:auto; */
    
}

.inline{
    background: red;
    color:white;
   
}
body{
    text-align: center;
}