ul.parent {
    display: flex;
    background-color: greenyellow;
    padding: 0px;
}

li {
    background: skyblue;
    border: 1px solid black;
    padding: 12px;
    margin: 8px;
    list-style: none;
}